/* 
    Created on : 04-08-2014, 06:23:25 PM
    Author     : Juane
*/
*, html { font-family: "Arial"; font-size: 12px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
body { padding: 0; margin: 0; width: 100%; height: 100%; background: #333; }

/* Contenido */
#contenedor { width: 990px; margin: 10px auto; height: 200px;   font-size: 15px; }
#contenedor #num { background: #fff; float: left; padding: 0px; margin: 0px; border: 1px solid #000; float: left; }
#contenedor #resultado { background: #fff; color: #000; float: left; padding: 0px; border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #999;  }
#contenedor #resultado, #contenedor #num {  height: 80px; padding: 0px; margin: 0px; width: 100%; float: left;  display: block; text-align: center; }
#contenedor #num h1,
#contenedor #resultado h1 { width: 10%; height: 50px; border-right: 1px solid #000; padding: 15px; margin: 0px; font-size: 13px; background: #ccc; color: #000; float: left; display: block; text-align: center; width: 80px; }
#contenedor #num p,
#contenedor #resultado p {  padding: 15px; margin: 0px; font-size: 13px; width: 85%; float: left; }
#contenedor #resultado p:first-letter { text-transform: capitalize; }
#contenedor #controles { width: 800px; margin: 0 auto; }
#contenedor #controles input#txtNum { margin: 30px 0; padding: 15px; width: 590px; border: 1px solid #000; }
#contenedor #controles a#convertir { margin: 0px; padding: 15px; text-decoration: none; background: #aaa; color: #fff; font-weight: bolder; letter-spacing: 1px; border: 1px solid #000; }